.NotesContainer {
  height: 100vh;
  background: #eaeaea;
}

.notes-list {
  padding: 0;
  list-style-type: none;
  background: #eaeaea;
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
  height: 84vh;
}