.AddNoteForm {
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 20rem;
  justify-content: space-around;
  border: 1px solid #9e9e9e;
}

.addNoteFormSection {
  position: absolute;
  left: 87rem;
  top: 10rem;
  width: 28rem;
  height: auto;
  transition: transform .3s;
}

.toggled {
  transform: translateX(-26rem) scale(1.2);
}

.tab {
  width: 3rem;
  height: 10rem;
  background: orangered;
  display: inline;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 7px;
}

.plus-sign {
  color: white;
  background: black;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

